@theme {
  --font-sans: "InterVariable", "Inter", sans-serif;

  /* Display 32px @ 412px, 50px @ 1440px*/
  --text-display: clamp(2rem, calc(1.549rem + 1.5vmin), 3.125rem);
  --text-display--font-weight: 700;
  --text-display--line-height: 1.2;

  /* Lead 20px @ 412px, 50px @ 1440px */
  --text-lead: clamp(1.25rem, calc(0.949rem + 1.1vmin), 2rem);
  --text-lead--font-weight: 400;
  --text-lead--line-height: 1.5;

  /* adjust to use vmin */

  /* Body 18px @ 412px, 30px @ 1440px */
  --text-main-body: clamp(1.125rem, calc(1rem + 0.8vmin), 1.875rem);
  --text-main-body--font-weight: 400;
  --text-main-body--line-height: 1.5;

  /* Heading 26px @ 412px, 42px @ 1440px */
  --text-heading: clamp(1.625rem, calc(1.224rem + 1.56vmin), 2.625rem);
  --text-heading--font-weight: 600;
  --text-heading--line-height: 1.2;

  /* Subheading */
  --text-subheading: clamp(1.25rem, calc(0.849rem + 1.556vw), 2.25rem); /* min: 20px, max: 36px */
  --text-subheading--font-weight: 500;
  --text-subheading--line-height: 1.2;

  /* Card title 24 px @ 412, 36px @ 1440px */
  --text-card-title: clamp(1.5rem, calc(1.2rem + 1vmin), 2.25rem);
  --text-card-title--font-weight: 700;
  --text-card-title--line-height: 1.5;

  /* Tag */
  --text-tag: clamp(1.125rem, calc(0.824rem + 1.167vw), 1.875rem); /* min: 18px, max: 30px */
  --text-tag--font-weight: 600;
  --text-tag--line-height: 1.2;

  /* Text Button 18px @ 412px, 28px @ 1440px */
  --text-button: clamp(1.125rem, calc(0.8rem + 0.6vmin), 1.75rem);
  --text-button--font-weight: 400;
  --text-button--line-height: 1.2;

  /* Top Navbar Anchor 18px @ 1024px, 24px @ 1440px */
  --text-top-navbar-anchor: clamp(1.125rem, calc(0.9rem + 0.8vmin), 1.5rem);
  --text-top-navbar-anchor--font-weight: 400;
  --text-top-navbar-anchor--line-height: 1.2;

  /* Top Navbar Anchor 18px @ 1024px, 24px @ 1440px */
  --text-footer: clamp(1.125rem, calc(0.95rem + 0.8vmin), 1.5rem);
  --text-footer--font-weight: 400;
  --text-footer--line-height: 1.2;

  /* Bottom Navbar Anchor 12px @ 412px, 14px @ 1024px */
  --text-bottom-navbar-anchor: clamp(0.75rem, calc(0.65rem + 0.4vmin), 0.875rem);
  --text-bottom-navbar-anchor--font-weight: 400;
  --text-bottom-navbar-anchor--line-height: 1;

  /* Image title */
  --text-image-title: clamp(1.125rem, calc(0.724rem + 1.556vw), 2.125rem); /* min: 18px, max: 34px */
  --text-image-title--font-weight: 600;
  --text-image-title--line-height: 1.2;

  /* Caption */
  --text-caption: clamp(0.875rem, calc(0.474rem + 1.556vw), 1.875rem); /* min: 14px, max: 30px */
  --text-caption--font-weight: 300;
  --text-caption--line-height: 1.5;
}
